{% extends 'WATCHERS/base.html' %}
{% block title %}<title>Add Podcast</title>{% endblock %}

{% block body_block %}
     <h1>Add a Podcast</h1>
<div>
    <form id="podcast_form" enctype="multipart/form-data" method="post" action="/WATCHERS/category/{{ category.slug }}/add_podcast/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}

            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        <br>
        {% endfor %}
        <input type="submit" name="submit" value="Add Podcast" />
    </form>
</div>
{% endblock %}